.player-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.audio-player{
  margin-top: 2em;
  width: 80%;
  
}